body {
  height: 100%;
  bottom: 10px;
}

.uk-active {
  text-transform: none;
}

.next-button {
  display: inline-block;
  position: relative;
  float: right;
}

.next-button:focus {
  outline: none;
  border: none;
}

.back-button {
  display: inline-block;
  position: relative;
  float: left;
}

.back-button:focus {
  outline: none;
  border: none;
}

.back-button,
.next-button {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  position: relative;
  font-size: 22px;
  font-weight: 200;
  font-weight: bold;
  margin-top: -10%;
}

h2 {
  position: absolute;
  float: left;
  font-size: 22px;
  font-weight: 200;
  left: 15%;
  top: 20%;
}

.options {
  color: #0070c0;
  background: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(33,33,33,0.15);
  border-radius: 0px 0px 15px 15px;
  text-align: center;
}

.options textarea {
  border: 1px solid #0070c0;
  color: #0070c0;
  max-width: 80%;
  max-height: 120px;
  vertical-align: middle;
}

.options textarea:focus {
  outline: 2px solid #082567;
}

.uk-radio,
.uk-checkbox {
  cursor: pointer;
}

form {
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
}

.range-slider {
  margin: 60px 0 0 0;
  width: 100%;
}

.range-slider-range {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
}

.range-slider-range:hover {
  background: #1abc9c;
}

.range-slider-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider-value::after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

/* References:
https://codepen.io/seanstopnik/pen/CeLqA 
