{% extends "generalPageStyled.html" %}
{% block mainBlock %}
  <header>
    <nav class="uk-container uk-navbar">
      <div class="uk-navbar-left">
        <a href="https://www.cardiff.ac.uk" class="uk-navbar-item uk-logo" target="_blank"><img src="../static/img/cardiff-university.jpg" alt="Cardiff University" width="60" height="60"></a>
        <a href="https://www.arthritisresearchuk.org" class="uk-navbar-item uk-logo" target="_blank"><img src="../static/img/arthritis-research.jpg" alt="Arthritis Research UK" width="60" height="60"></a>
        <ul class="uk-navbar-nav">
          <strong style="font-size: 200%; color: #000;">BACKonLINE&trade;</strong>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@s">
          <li><a class="uk-text-large uk-button-text" href="\Welcome">Me</a></li>
          <li><a class="uk-text-large uk-button-text" href="\Questions">Survey</a></li>
          <li><a class="uk-text-large uk-button-text" href="\Login">Log out</a></li>
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
      </div>
    </nav>
  </header>
  <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav">
        <li><a class="uk-text-large" href="\Welcome">Me</a></li>
        <li><a class="uk-text-large" href="\Questions">Survey</a></li>
        <li><a class="uk-text-large" href="\Login">Log out</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
