{% extends "navbar.html" %}
{% block mainBlock %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/css/patients.css">
  <table>
    <tr>
      <th>Patient ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr>
      {% for item in patients %}
      <tr onclick="getPatientData()">
        <td data-th="Patient ID">{{ item[0] }}</td>
        <td data-th="Name">{{ item[1] }}</td>
        <td data-th="Gender">{{ item[2] }}</td>
        <td data-th="Age">{{ item[3] }}</td>
        <td data-th="Email">{{ item[4] }}</td>
      </tr>
      {% endfor %}
    </tr>
  </table>
  <span id="data"></span>

  <script>
    function getPatientData() {
      document.getElementById('data').innerHTML = 'PATIENT DATA COMES HERE';
    };
  </script>
{% endblock %}
