{% extends "navbar.html" %}
{% block mainBlock %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/css/patients.css">
  <table>
    <tr>
      <th>Questions</th>
      <th>Option Text</th>
      <th>Date</th>
      <th>ExtraInput</th>
      <th>score</th>
      <th>Question ID</th>
    </tr>
    {% for x in response %}
    {% for y in test_array %}
    {%if x[5] == y %}
      <tr>

        {% for key, value in optionTrueData.items() %}
        {%if x[5] == key %}
        <td data-th="Patient ID">{{ x[0] }}</td>
        <td data-th="Email">{{ value }}</td>
        <td data-th="Age">{{ x[2] }}</td>
        <td data-th="Email">{{ x[3] }}</td>
        <td data-th="Email">{{ x[4] }}</td>
        <td data-th="Gender">{{ x[1] }}</td>
        {%endif%}
        {% endfor %}
      </tr>
      {%elif y[0] ==  x[5][1:3] and y is string() == false%}
      {% for f in y %}

      <tr>
        <td data-th="Patient ID">{{ x[0] }}</td>
        {% for key2, value2 in optionTrueData.items() %}
        {%if key2 == f%}
        <td data-th="Email">{{value2}}</td>
        {%endif%}
        {% endfor %}
        <td data-th="Age">{{ x[2] }}</td>
        <td data-th="Email">{{ x[3] }}</td>
        <td data-th="Email">{{ x[4] }}</td>
        <td data-th="Gender">{{ x[1] }}</td>
      </tr>

      {% endfor %}
      {%endif%}
      {% endfor %}
    {% endfor %}
  </table>
  <br><br><br>
  <!-- <table>
      <tr>
        <th>KeyID</th>
        <th>Key Text</th>
      </tr>
      {% for key, value in optionTrueData.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
  </table> -->
{% endblock %}
