{% extends "navbar.html" %}
{% block mainBlock %}
  {{ super() }}
  <style>
    table {
      margin: 0 auto;
      padding: 0 2em;
      background: #34495E;
      color: #fff;
      border-radius: .5em;
    }

    td {
      display: block;
      text-align: center;
    }
    
    td:first-child {
      padding-top: .5em;
      color: #92feB7;
    }

    td:last-child {
      padding-bottom: .5em;
    }

    td:before {
      content: attr(data-th)": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
    }

    th, td:before {
      color: #a8c5fe;
    }
    
    @media (min-width: 480px) {
      th, td {
        display: table-cell;
        padding: .25em .9em;
      }

      td:before {
        display: none;
      }

      th:first-child, td:first-child {
        padding-left: 0;
      }

      th:last-child, td:last-child {
        padding-right: 0;
      }
    }

    @media (max-width: 500px) {
      td {
        text-align: left;
      }

      th {
        display: none;
      }
    }
  </style>

  <table>
    <tr>
      <th>Patient ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr>
      {% for item in patients %}
      <tr>
        <td data-th="Patient ID" onmouseover="this.style.cursor='pointer'" onclick="getPatientData()">{{ item[0] }}</td>
        <td data-th="Name">{{ item[1] }}</td>
        <td data-th="Gender">{{ item[2] }}</td>
        <td data-th="Age">{{ item[3] }}</td>
        <td data-th="Email">{{ item[4] }}</td>
      </tr>
      {% endfor %}
    </tr>
  </table>
  <span id="data"></span>

  <script>
    function getPatientData() {
      document.getElementById('data').innerHTML = 'PATIENT DATA COMES HERE';
    };
  </script>
{% endblock %}
