{% extends "navbar.html" %}
{% block mainBlock %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/patients.css">

<table>
    <tr>
        <th>Questions</th>
        <th>Option ID</th>
        <th>Date</th>
        <th>ExtraInput</th>
        <th>score</th>
        <th>Question ID</th>
        
    </tr>
    {% for x in response %}
    <tr>
        <td data-th="Patient ID">{{ x[0] }}</td>
        <td data-th="Email">{{ x[5] }}</td>
        <td data-th="Age">{{ x[2] }}</td>
        <td data-th="Email">{{ x[3] }}</td>
        <td data-th="Email">{{ x[4] }}</td>
        <td data-th="Gender">{{ x[1] }}</td>
        </a>
    </tr>
    {% endfor %}
</table><br><br><br>


<table>
    <tr>
        <th>KeyID</th>
        <th>Key Text</th>
    </tr>
    {% for key, value in optionTrueData.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {%endfor%}
</table>

<script>
    function exportTableToExcel(F, filename = 'patients') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(F);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        filename = filename ? filename + '.xls' : 'Rapport.xls';
        downloadLink = document.createElement("a");
        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML, text], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            downloadLink.download = filename;
            downloadLink.click();
        }
    }
</script>

{% endblock %}