{% extends "navbar.html" %}
{% block mainBlock %}
  {{ super() }}
  <link href="../static/css/welcome.css" rel="stylesheet">
  {% for row in data %}
    <p>Hello <strong>{{row[1]}}</strong></p>
    <p id="PatientID">{{row[0]}}</p>
  {% endfor %}
  <a onclick="sendUser()" href="/Questions" class="uk-button uk-button-default uk-border-rounded" uk-icon="icon: chevron-right">Start survey</a>
  <script>
  // Send the patient ID to the local storage.
  function sendUser() {
    patient_id = document.getElementById("PatientID").innerHTML;
    // Check browser support
    if (typeof(Storage) !== "undefined") {
      // Store
      localStorage.setItem("PatientID", patient_id);
      // Retrieve
      console.log(localStorage.getItem("PatientID"));
    } else {
      document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage.";
    };
  };
  </script>
{% endblock %}
